@{
    ViewData["Title"] = "Home Page";
   

}
<style>


    .headertable{

        font-weight:bold;
        color:black
    }

</style>


<div>


    @if (this.User.Identity.IsAuthenticated)
    {

    @await Html.PartialAsync("DialogNewPlan")

    @await Html.PartialAsync("SchedulerPlan")
    }else{

       <p>Hello there</p>

    }

    <!-- DivTable.com -->
</div>
